<p id="notice"><%= notice %></p>

<div class="container">
      <div class="starter-template">
        <h1>
          Project Hours
        </h1>
      </div>
      <% @projects.each do |project| %>
      <script>
        var str = <%= project.project_name %>;
        var id= str.replace(/\s/g, '');
        
      </script>
      <ul class="list-group">
        <li class="list-group-item customerName" type="button" data-toggle="collapse" data-target="#<%= project.project_name %>" aria-expanded="false" aria-controls="collapseExample">
          <span class="badge" ><%= project.project_hours %></span>
           <b><%= project.project_name %></b> 
          <div class="collapse" id="<%= project.project_name %>">
           
            <div class="data1">
              John D. (10) </br> Jimmy F. (10) </br> Jake B. (10) </br> Jimmy F. (10) </br> Jake B. (10)
            </div>
          </div>
        </li>
        
        <% end %>
        <li class="list-group-item">
          <hr>
          <div class="form-group">
            <label>
              New Project
            </label>
            <input type="text" class="form-control" placeholder="Engagement Manager">
            <input type="text" class="form-control" placeholder="Project Name">
            <a href="#" class="btn btn-default">Add</a>
          </div>
        </li>
        
      </ul>
    </div>



<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Project name</th>
      <th>Project hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.project_name %></td>
        <td><%= project.project_hours %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
