<p id="notice"><%= notice %></p>

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Users:</strong>
  <%= @team.Users %>
</p>

<p>
  <strong>Username:</strong>
  <%= @team.username %>
</p>

<p>
  <strong>Project:</strong>
  <%= @team.Project %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @team.project_name %>
</p>

<p>
  <strong>Task:</strong>
  <%= @team.Task %>
</p>

<p>
  <strong>Task name:</strong>
  <%= @team.task_name %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
